{% macro displayMovieList(movie_list) %}

    {% for movie in movie_list %}
            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4 mt-4">
                <div class="bg-white rounded shadow-sm"><img src="{{ movie.poster }}" class="card-img-top img-responsive" alt="{{ movie.title }} poster"/>
                <div class="p-4">
                    <h6 class="card-title"> <a href="/movie/{{movie.id}}">{{ movie.title|truncate(20)}}</a> </h6>
                    <p class="small text-muted mb-0">{{ movie.overview|truncate(50) }}</p>
                    <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                    <p class="small mb-0"><span class="font-weight-bold">{{ movie.vote_average }}ratings</span></p>
                    <div class="badge badge-danger px-3 rounded-pill font-weight-normal">{{ movie.vote_count}} V</div>
                    </div>
                </div>
                </div>
            </div>
            <!-- End -->

    {% endfor %}

{% endmacro %}

<!-- Dispaying reviews macro -->
{% macro displayReviews(review_list) %}
        {% for review in review_list %}
        <div class="row">
            <div class="col-md-4 col-lg-4 review-card">
                <h4>Author</h4>
                <p>{{ review.user.username }}</p>
            </div>

            <div class="col-md-8">
                <h2><a href="{{ url_for('main.single_review', id = review.id) }}">
                    {{ review.movie_title }}
                </a></h2>
            </div>
        </div>

        {% endfor %}
{% endmacro %}